<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="EntityModel" connectionString="Data Source = LAPTOP-NSMJD0QF\SQLEXPRESS; Initial Catalog=MCS; Integrated Security=True;" providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
</configuration>